main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2rem 0;
}

.user{
    display: flex;
    justify-content: center;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    box-shadow: none;
}

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.account-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.account-content{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
}

input{
    border: 2px solid #7763C5;
    border-radius: 7px;
    height: 40px;
    padding-left: 6px;
    box-sizing: border-box;
    font-size: medium;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.buttons{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

#save{
    background-color: #7763C5;
    color: white;
    border-radius: 5px;
    padding: 2px 16px;
    font-weight: 600;
}

#save[disabled="true"]{
    background-color: rgba(0,0,0,.26);
}

#logout{
    background-color:rgb(157, 45, 131);
    color:white;
    font-weight: 600;
}

.error-message{
    color: red;
}

.visibility{
    display: flex;
    justify-content: center;
    background: none;
    color: black;
    font-size: x-large;
}

hr{
    width: 100%;
}

.subscriptions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__list{
        display: grid;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    &__subscription{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #F5F5F5;
        border-radius: 5px;
        &__title-text{
            display: flex;
            flex-direction: column;
            &__title{
                font-weight: 700;
            }
        }
        &__button{
                background-color: #7763C5;
                color: white;
                border-radius: 5px;
                padding: 2px 16px;
                font-weight: 600;
        }
    }
}


#unsubscribe_button{
    
    background-color: #7763C5;
    color: white;
   
}

// PHONE
@media (max-width: 767px) {
    .main-account{
        width: 95%;
    }
    .card{
        width: 90%;
    }
    .subscriptions{
        &__list{
            grid-template-columns: repeat(1,1fr);
        }
    }
}

// TABLET
@media(min-width:768px) and (max-width:1199px){
    .main-account{
        width: 85%;
    }
    .card{
        width: 55%;
    }
    .subscriptions{
        &__list{
            grid-template-columns: repeat(2,1fr);
        }
    }
}

// DESKTOP
@media(min-width:1200px){
    .main-account{
        width: 70%;
    }
    .card{
        width: 40%;
    }
    .subscriptions{
        &__list{
            grid-template-columns: repeat(2,1fr);
        }
    }
}