<div>

<header class="header-element">
    <div class="logo_div">
        <img class="logo" src="./assets/logo_p6 1.png" alt="logo">
        <nav *ngIf="$isLogged() | async" class="nav-element">
            <ul>
                <a (click)="click('posts')" id="nav_posts">Articles</a>
                <a (click)="click('topics')" id="nav_topics">Topics</a>
                <a (click)="click('account')" id="nav_account">
                    <span class="material-symbols-outlined account_circle">
                        Account
                    </span>
                </a>
            </ul>
            <button (click)="sidenav.toggle(); disableMain()" mat-icon-button class="mat-icon">
                <mat-icon>menu</mat-icon>
            </button>
        </nav>
    </div>
    <div id="back_id" class="back_div">
        <img class="back" (click)="navigateBack()" src="./assets/Arrow 9.png" alt="back">
    </div>    
</header>

<mat-sidenav-container id="sidenav-container" class="sidenav-container" [hasBackdrop]="true">
    <mat-sidenav
      #sidenav
      id="snav"
      fixedTopGap="0"
      fixedInViewport="true"
      [mode]="'over'"
      position="end"
      (blur)="sidenav.toggle();enableMain()"
    >
    <mat-nav-list class="sidenav-list">
        <ul>
            <div class="sidenav-list__posts-topics">
            
                <li id="nav_posts_sidenav" class="sidenav-list__posts-topics__element" >
                
                <button id="logout" (click)="logout()" mat-button color="warn">Log out</button>
                
                </li>
                <li id="nav_posts_sidenav" class="sidenav-list__posts-topics__element" (click)="sidenav.toggle();click('posts'); sidenav.toggle()">Articles</li>
                <li id="nav_topics_sidenav" class="sidenav-list__posts-topics__element" (click)="sidenav.toggle();click('topics'); sidenav.toggle()">Thèmes</li>
            </div>
            <li id="nav_account_sidenav" (click)="sidenav.toggle();click('account'); sidenav.toggle()" class="icon_end"><span id="nav_account_sidenav_icon" class="material-symbols-outlined account_circle">Account</span></li>
        </ul>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>

</div>